/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f4f9;
    color: #333;
}

img {
    width: 100%;
    height: 30%;
}

/* Encabezado */
header {
    width: 100%;
    overflow: hidden;
}

/* Menú Horizontal */
.menu-horizontal {
    background-color: #b30000;
    text-align: center;
}

.menu-horizontal ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-horizontal li {
    margin: 10px 15px;
}

.menu-horizontal a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.menu-horizontal a:hover {
    text-decoration: underline;
}

/* Contenedor Principal */
.container {
    display: flex;
    margin: 20px;
}

/* Menú Lateral */
.menu-lateral {
    width: 25%;
    background-color: #ffecec;
    padding: 20px;
    border-right: 2px solid #ddd;
}

.menu-lateral h3 {
    margin-bottom: 10px;
    color: #b30000;
}

.menu-lateral ul {
    list-style: none;
}

.menu-lateral li {
    margin: 10px 0;
}

.menu-lateral a {
    color: #b30000;
    text-decoration: none;
}

.menu-lateral a:hover {
    text-decoration: underline;
}

/* Contenido */
.contenido {
    width: 75%;
    padding: 20px;
}

.contenido h1 {
    font-size: 2.5em;
    color: #b30000;
    margin-bottom: 20px;
}

.contenido h2 {
    color: #7a0000;
    margin-top: 20px;
}

.contenido p {
    margin-bottom: 15px;
    line-height: 1.6;
}

/* Pie de Página */
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

footer a {
    color: #f26c4f;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

.galeria {
    margin-top: 40px;
}

.galeria h2 {
    color: #b30000;
    margin-bottom: 20px;
}

.grid-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
}

.card p {
    margin-top: 10px;
    font-size: 0.95em;
    color: #444;
}